.page2{
    background-color: aquamarine;
}

.page1{
    background-color: black;
}

.page1 h1{
    color: white;
}

.page1 h2{
    color: white;
}
.page1 a{
    color: white;
}
.page3{
    background-color: coral;
}